.beneficence{color:#FFFFFF;font-size: 3.2rem;text-align: center;line-height: 60px;background:#FE7079;}


.charity{font-size: 3.2rem;padding:25px 30px;background: #FE7079;color: #FFFFFF;text-align: center;}
.charity a i.iconfont{font-size: 3.2rem;float: left;}
.charbox{font-size: 3rem;background: #FE7079;color: #FFFFFF;text-align: center;}
.charbox p{padding: 30px 0 0;}
.charbox p i{font-size: 3rem;padding: 0 10px 0 0;}
.charbox p em{font-size: 2.8rem;}
.charbox p:last-child{padding:30px 0 60px 0;font-size: 3.8rem;}
.charlist ul li{background:#FFFFFF;border-bottom: 1px solid #CCCCCC;}
.charlist ul li:last-child{border:none;}
.charlist ul li div.charimg{width: 22%;display:inline-block;float:left;}
.charlist ul li div.chartxt{width: 78%;display:inline-block;float:left;}
.charlist ul li div.charimg img{margin: 20px 0 20px 20px;width:100px;height: 100px;border-radius: 50%;}
.charlist ul li div.chartxt p{font-size: 2.8rem;}
.charlist ul li div.chartxt p:first-child{padding: 30px 0 20px;}
.charlist ul li div.chartxt p:first-child i{color:#48D2C4;font-size: 3.2rem;}
.charlist ul li div.chartxt p:last-child i{color:#FF9900;font-size: 3.2rem;}
.charlist ul li div.chartxt p:first-child em{color:#666666;}
.charlist ul li div.chartxt p:first-child span{color:#999999;float:right;margin-right: 20px;}
.charlist ul li div.chartxt p:last-child span{color:#FF6633;}
.charlist ul li div.chartxt p:last-child span em{font-size: 2rem;}

.donationlist ul li{background:#FFFFFF;border-bottom: 1px solid #CCCCCC;}
.donationlist ul li:last-child{border:none;}
.donationlist ul li div.charimg{width: 22%;display:inline-block;float:left;}
.donationlist ul li div.chartxt{width: 70%;display:inline-block;float:left;}
.donationlist ul li div.dobtn{width: 8%;display:inline-block;float:left;line-height: 140px;}
.donationlist ul li div.charimg img{margin: 20px 0 20px 20px;width:100px;height: 100px;border-radius: 50%;}
.donationlist ul li div.chartxt p{font-size: 2.8rem;}
.donationlist ul li div.chartxt p:first-child{padding: 30px 0 20px;}
.donationlist ul li div.chartxt p:first-child span i{vertical-align: text-bottom;color:#48D2C4;font-size: 3.2rem;padding: 0 0 0 20px;}
.donationlist ul li div.chartxt p:first-child span{color:#666666;}
.donationlist ul li div.chartxt p:first-child span:last-child i{color:#FF9900;padding:0 10px 0 0;}
.donationlist ul li div.chartxt p:last-child i{vertical-align: middle;color:#48D2C4;font-size: 3.2rem;}
.donationlist ul li div.chartxt p:first-child em{color:#333333;}
.donationlist ul li div.chartxt p:first-child span:last-child{color:#FF6633;float:right;margin-right: 20px;}
.donationlist ul li div.chartxt p:last-child span:last-child{color:#666666;font-size: 2rem;}
.donationlist ul li div.dobtn a i{font-size:3rem;color:#999999;}












