.detail{position:fixed;top:0;width:100%;z-index: 999;font-size: 3.2rem;line-height: 80px;height: 80px;background: #06c1ae;color: #FFFFFF;text-align: center;}
.detail>p{padding: 0 38px;}
.detail p a.forward{margin-left: 36px;}
.detail a i.iconfont{font-size: 3.2rem;}
.detail a i.forward{margin: 0 0 0 20px;}

.banner{margin:80px 0 0 0;}

.introduce{background:#FFFFFF;padding: 45px 33px;margin: 15px 0;}
.introduce .name{font-size:3rem;color: #333333;margin-bottom: 25px;}
.introduce .in_text{font-size:2.4rem;color:#333333;}
.introduce .in_text a{display:inline-block;float:left;line-height:30px;}
.introduce .in_text .hy_money{font-size:3.2rem;color:#f6a112;padding: 0 10px;}
.introduce .in_text .jf_integral{font-size:2.4rem;padding: 0 10px;}
.introduce .pin{font-size:1.4rem;text-align:right;color: #7c7c7c;margin: 5px 0;}

.gift{background:url(../img/gift.png) no-repeat left #FFFFFF;text-indent: 88px;margin: 15px 0;}
.gift p:first-child{font-size:3rem;color:#000000;padding:36px 0 10px 0;}
.gift p:last-child{font-size:2.4rem;color:#7d7d7d;padding-bottom: 36px;}

.introduction{margin:40px 50px 80px;font-size:3rem;color:#333333;text-align: justify;}
.introduction h3{font-size:3.2rem;color:#333333;margin: 15px 0;}

.shopping a{display:inline-block;width:50%;text-align:center;line-height:80px;font-size:3.2rem;color:#FFFFFF;}
.shopping a.join{background:#f09719;}
.shopping a.now{background:#ff6633;}



































