.money{font-size: 3.2rem;padding:25px 30px;background: #06c1ae;color: #FFFFFF;text-align: center;}
.money a i.iconfont{font-size: 3.2rem;float: left;}

.balance{padding-bottom: 100px;position:relative;}
.balance li{background:#FFFFFF;margin:20px 0;box-shadow: 2px 3px 5px #999;}
.balance li p.ba_tlt{font-size:3rem;color: #999999;padding:35px 35px 0;}
.balance li p.ba_tlt a{margin:0 0 0 35px;}
.balance li p.ba_tlt a i{font-size:3rem;}
.balance li p.ba_tlt a{font-size:2.6rem;}
.balance li p.num{text-indent: 50px;padding: 20px 35px 35px;font-size:5rem;color: #FF6633;}
.balance li p.num span{color: #666666;font-size: 2.6rem;margin: 20px 0 0 0;}
.balance li p.num span em{color:#FF6633;margin-left: 20px;}
.balance li p.num em{color: #666666;font-size: 3rem;}
.balance li p.subscribe{font-size: 3rem;text-align: center;margin: 0 20px;border-top: 1px solid #CCCCCC;padding: 15px 0;color: #333333;}
.balance li p.subscribe i{font-size: 3.6rem;color: #3FDBCB;}

.balance li p:first-child span:first-child i.iconfont{font-size: 5rem;vertical-align: middle;margin-right: 5px;}
.balance li.lance p:first-child span:first-child i.iconfont{color:#FFCF31;}
.balance li.tegral p:first-child span:first-child i.iconfont{color:#FE9F21;}
.balance li.thigh p:first-child span:first-child i.iconfont{color:#FE7970;}
.balance li.cher p:first-child span:first-child i.iconfont{color:#8CD747;}

.balance li.lance{border-left:16px solid #06c1ae;}
.balance li.tegral{border-left:16px solid #faba3d;}
.balance li.cher{border-left:16px solid #e3404c;}
.balance li.thigh{border-left:16px solid #fb9346;}

.addmoney{padding: 20px 0;background:#FFFFFF;text-align:center;color:#333333;font-size:3rem;border-top: 1px solid #CCCCCC;border-bottom: 1px solid #CCCCCC;position: fixed;width: 100%;bottom: 10px;}
.addmoney a{padding: 0 50px;}
.addmoney a i{color:#3FDBCB;font-size:4rem;vertical-align: middle;}

/* 二维码 */
.shop{position:fixed;top:0;width:100%;z-index: 2;font-size: 3.2rem;line-height: 80px;height: 80px;background: #06c1ae;color: #FFFFFF;text-align: center;}
.shop>p{padding: 0 38px;}
.shop p a.forward{margin-left: 36px;}
.shop a i.iconfont{font-size: 3.2rem;}
.shop a i.forward{margin: 0 0 0 20px;}
.code{background: rgba(0,0,0,0.7);}
.imgbox{border-radius: 10px;width:90%;background:#FFFFFF;margin: 0 auto;}
.imgbox .portrait .probox div{display:inline-block;}
.imgbox .portrait .probox .porimg{width:25%;}
.imgbox .portrait .probox .porimg img{width: 110px;height: 110px;margin: 30px 0 0 30px;
    border-radius: 15px;display: block;border: 1px solid #000000;}
.imgbox .portrait .probox .protlt{width:75%;}
.imgbox .portrait .probox .protlt p:first-child{text-indent:20px;margin: 72px 0 20px 0px;font-size: 3rem;color: #1A1A1A;}
.imgbox .portrait .probox .protlt p:last-child{text-indent:24px;font-size: 1.8rem;color: #666666;}
.imgbox .portrait .erwei{text-align:center;}
.imgbox .portrait .erwei img{width: 70%;}
.imgbox .portrait .note{padding:0 0 30px 0;}
.imgbox .portrait .note ul li{font-size:1.8rem;color:#666666;margin: 0 30px;line-height:30px;}

/* 我的授信额 */
.grant{position:fixed;top:0;width:100%;z-index: 2;font-size: 3.2rem;line-height: 80px;color: #FFFFFF;text-align: center;}
.grant>p{padding: 0 38px;background: #06c1ae;}
.grant p a.forward{margin-left: 36px;}
.grant a i.iconfont{font-size: 3.2rem;}
.grant a i.forward{margin: 0 0 0 20px;}

.grant .e_box{height:150px;background: #06c1ae;}
.grant .e_box p.edu{text-align:center;font-size:2.5rem;line-height: 50px;padding: 10px 0 0 0;}
.grant .e_box p.edunum{font-size:2.4rem;line-height: 50px;margin: 10px 0 40px 0;}
.grant .e_box p.edunum span{font-size:4rem;font-weight: bold;color: #FBB66B;}
.amount{margin: 228px 0 0 0;line-height: 80px;font-size: 2.4rem;}
.amount>div{padding:0 35px 0 15px;color: #333333;background: #FFFFFF;border-top: 1px solid #E6E6E6;border-bottom: 1px solid #E6E6E6;}
.amount div:first-child{border-left: 8px solid #FFCF31;margin:0 0 14px 0;}
.amount div:nth-child(2){border-left: 8px solid #FE7970;}
.amount div span.amountnum{font-size:4rem;font-weight: bold;color: #fa8d3d;margin-right: 3px;}
.amount>p{font-size: 1.8rem;color: #adadad;margin: 10px 20px;line-height: normal;}
.amount>p>i.iconfont{font-size: 3rem;vertical-align: middle;}

.am_foot{line-height: 55px;background: #FFF;text-align: center;border: 1px solid #E6E6E6;position: fixed;width: 100%;bottom: 0px;padding: 10px 0;}
.am_foot a{line-height: 36px;font-size:1.4rem;color:#666666;display: inline-block;width:49%;}
.am_foot a:first-child{border-right:1px solid #CCCCCC;}
.am_foot a:first-child i.iconfont{font-size:3rem;vertical-align: middle;background: #FFCF31;color: #FFF;border-radius: 50%;padding: 5px;margin: 0 7px 0 0;}
.am_foot a:last-child i{font-size:3rem;vertical-align: middle;background: #FE7970;color: #FFF;border-radius: 50%;padding: 5px;margin: 0 7px 0 0;}

/* 我的收藏 */
.grant .collbtn{background: #FFFFFF;color:#1a1a1a;font-size: 2.8rem;}
.grant .collbtn ul li{display:inline-block;width:50%;}
.grant .collbtn a{padding: 20px 50px;margin: 0 30px;}
.grant .collbtn a:first-child{margin: 0;padding-right: 80px;}
.collnow{color: #fa8d3d;border-bottom: 5px solid #fa8d3d;}

#collection{border: 1px solid #FFFFFF;background: #FFFFFF;margin: 175px 0 0 0;}
#collection .hot{padding: 0 19px;border-bottom: 1px solid #cccccc;}
#collection .hot:first-child{border-top: 1px solid #cccccc;}
#collection h3{font-size: 3.2rem;line-height: 65px;margin: 0 30px;border-bottom: 1px solid #d2d2d2;}
#collection .hot .shoped{padding:33px 0;border-bottom: 1px solid #e6e6e6;}
#collection .hot .shoped:last-child{border:none;}
#collection .hot .shoped .shopimg{position:relative;margin-left: 135px;}
#collection .hot .shoped .shopimg img{display:inline-block;position:absolute;left: -135px;top:0;margin: 0;}
#collection .hot .shoped .shopimg .shoptext{margin: 0 0 0 15px;}
#collection .hot .shoped .shopimg .shoptext p{color: #030303;font-size: 3.2rem;}

#collection .hot .shoped .shopimg .shoptext p.text{padding: 1px 0 0 0;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
#collection .hot .shoped .shopimg .shoptext p.text span.distance{font-size:2.4rem;color:#6e9dd3;}

#collection .hot .shoped .shopimg .shoptext p.address{padding:5px 0 24px 0;border-bottom: 1px solid #e9e9e9;font-size: 2.4rem;color:#7c7c7c;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
#collection .hot .shoped .shopimg .shoptext p.star{font-size: 2.4rem;line-height:50px;}
#collection .hot .shoped .shopimg .shoptext p.star i{font-size: 3.2rem;color:#f6a112;}
#collection .hot .shoped .shopimg .shoptext p.star span.people{color: #7c7c7c;}

#collection .hot .shoped .shopimg .shoptext p.address i{font-size: 2.4rem;}
#collection .hot .shoped .shopimg .shoptext p.discount i{font-size: 3.2rem;color:#ff8c9f;}
#collection .hot .shoped .shopimg .shoptext p.discount{font-size: 2.4rem;color: #7c7c7c;margin-top: 15px;}

/* 消息 */
.message{margin: 80px 0 15px;}
.message .system{background: #FFFFFF;font-size:3rem;color:#333333;margin-bottom: 21px;border-bottom: 1px solid #e6e6e6;}
.message .system p{padding: 0 33px;}
.message .system p:first-child{border-bottom:1px solid #e6e6e6;line-height:65px;}
.message .system p:first-child i.iconfont{font-size:3.2rem;color:#fbb66b;margin-right:10px;}
.message .system p span.msgtime{font-size: 2.4rem;color: #666666;}
.message .system p:last-child{font-size: 2.4rem;line-height: 100px;color: #666666;}
.message .system p:last-child i.iconfont{color:#999999;font-size:3rem;}

/* 消息详情 */
#msg_detail{margin: 80px 0 15px;}
#msg_detail .msgbox{padding: 0 64px;margin-bottom: 40px;}
#msg_detail .msgbox p:first-child{line-height:95px;font-size: 2.4rem;color:#999999;text-align: center;}
#msg_detail .msgbox .msgtxt{background: #FFFFFF;border-radius: 5px;border: 1px solid #cccccc;color: #666666;font-size: 3rem;line-height: 35px;padding: 25px 40px;}
#msg_detail2{margin: 80px 0 15px;}
#msg_detail2 .msgbox{padding: 0 64px;margin-bottom: 40px;}
#msg_detail2 .msgbox p:first-child{line-height:95px;font-size: 2.4rem;color:#999999;text-align: center;}
#msg_detail2 .msgbox .msgtxt{background: #FFFFFF;border-radius: 5px;border: 1px solid #cccccc;color: #666666;font-size: 3rem;line-height: 35px;padding: 25px 40px;}

/* 申请成为城市代理 */
.agent{margin: 80px 0 0;background: #FFFFFF;}
.agent>p{font-size: 3rem;line-height: 98px;margin: 0 33px;color:#333333;}
.agent>p>a{display:block;}
.agent>p i.iconfont{font-size: 3rem;color: #999999;}
.nextbtn{width:100%;position:fixed;bottom: 285px;left:0;}
.nextbtn a{display:block;line-height:98px;margin:0 39px;background:#06c1ae;text-align:center;font-size:3.6rem;color:#FFFFFF;border-radius:5px;}

/* 申请成为城市代理：下一步 */
.agent{margin: 80px 0 0;background: #FFFFFF;}
.agent>p{font-size: 3rem;line-height: 98px;margin: 0 33px;color:#333333;}
.agent>p>a{display:block;}
.agent>p i.iconfont{font-size: 3rem;color: #999999;}
.agreement{font-size: 2.4rem;line-height: 30px;color: #666666;margin: 20px 20px 20px;}
.agreement input{zoom: 200%;vertical-align: sub;}
.agentnext_btn{width:100%;margin-top: 200px;}
.agentnext_btn a{display:block;line-height:98px;margin:0 39px;background:#06c1ae;text-align:center;font-size:3.6rem;color:#FFFFFF;border-radius:5px;}
.agentnext_txt{margin: 80px 0 0;background: #FFFFFF;padding: 40px 50px;min-height:500px;}
.agentnext_txt p{font-size:2.4rem;line-height: 30px;}

.auction_btn{width:100%;position:fixed;bottom:70px;}
.auction_btn a{display:block;line-height:98px;margin:0 39px;background:#06c1ae;text-align:center;font-size:3.6rem;color:#FFFFFF;border-radius:5px;}

.offer{margin: 80px 0 0;}
.offer p.of_money{padding:15px 33px;font-size:3rem;color: #fa8d3d;}
.offer p.money_num{padding:15px 33px;font-size:3rem;background:#FFFFFF;line-height:40px;color:#333333;}
.offer p.money_num input{font-size:3rem;border:none;}

.offerform .offer .errorbox{padding: 15px 33px;font-size: 3rem;color: red;text-align: center;}

/* 实名认证 */
.real{position: fixed;top: 0;width: 100%;z-index: 2;font-size: 3.2rem;line-height: 80px;height: 80px;background: #06c1ae;color: #FFFFFF;text-align: center;}
.real p{padding: 0 38px;}
.real a i.iconfont {font-size: 3.2rem;}

.realname {margin: 90px 0 15px;}
.realname .real_list{border-bottom: 1px solid #e6e6e6;border-top: 1px solid #e6e6e6;margin: 0 0 15px 0;padding: 0 33px;background: #FFFFFF;}
.realname .real_list ul li{list-style: none;font-size: 2.4rem;line-height:80px;color:#333333;}
.realname .real_list ul li input{width:70%;border:none;font-size2.4rem;float: right;line-height: 80px;padding: 0;margin: 0;font-size: 2.4rem;}
.realname .real_list ul li:first-child{border-bottom: 1px solid #e6e6e6;}
.realname .real_photo .photobox{background:#FFFFFF;font-size:2.4rem;color:#333333;border-bottom: 1px solid #e6e6e6;border-top: 1px solid #e6e6e6;overflow: hidden;padding-bottom: 30px;}
.realname .real_photo .photobox:first-child{margin-bottom:15px;}
.realname .real_photo .photobox>p{margin:30px 0 30px 66px;}
.realname .real_photo .photobox .box{display:inline-block;width: 50%;float: left;position:relative;}
.realname .real_photo .photobox .box>p{margin:0 0 15px 0;text-indent: 66px;}
.realname .real_photo .photobox .box>a.up_imgbtn{display: inline-block;margin-left: 60px;}
.realname .real_photo .photobox .box>div.imgupbox{position:absolute;bottom: 0;left: 68px;width: 200px;height: 200px;display: none;}

.realname .real_photo .photobox .box .up{width: 200px;height: 200px;border:1px solid #e6e6e6;margin: 0 auto;text-align: center;}
.realname .real_photo .photobox .box .up i.iconfont{font-size: 10rem;color: #b1afaf;padding: 40px 0 10px 0;display: block;}
.realbtn a{display: block;line-height: 98px;margin: 30px 39px 0;background: #06c1ae;text-align: center;font-size: 3.6rem;color: #FFFFFF;border-radius: 5px;}
.real_errorbox{font-size: 2.4rem;color: red;margin: 0 66px;line-height: 30px;}

/* 积分规则 */
.rule{margin: 80px 0 15px;font-size: 1.4rem;color: #333333;padding: 40px 50px 0;}
.rule p{line-height:30px;}

/* 我要加盟 */
.join{margin: 80px 0 0;}
.join .j_box{border-bottom: 1px solid #e6e6e6;border-top: 1px solid #e6e6e6;margin: 0 0 15px 0;padding: 0 33px;background: #FFFFFF;overflow: hidden;}
.join .j_box ul li {border-bottom: 1px solid #e6e6e6;list-style: none;font-size: 2.4rem;line-height: 80px;color: #333333;}
.join .j_box ul li:last-child{border:none;}
.join .j_box ul li input {width: 70%;border: none;float: right;line-height: 80px;padding: 0;margin: 0;font-size: 2.4rem;}
.join .j_box ul li textarea{width: 70%;height:160px;border: none;float: right;line-height: 80px;padding: 0;margin: 0;font-size: 3rem;}
.join .license{margin: 0 33px 15px;font-size: 2.4rem;color: #333333;border: 1px solid #b1afaf;text-align: center;background:#FFFFFF;border-radius: 5px;}
.join .license a{display: inline-block;width: 200px;height: 200px;margin: 20px 0;}
.join .license a i.iconfont{font-size: 10rem;color: #b1afaf;padding:10px 0 30px 0;display: block;}
.protocol {font-size: 2.4rem;line-height: 30px;color: #666666;margin: 20px 20px 20px;}
.protocol input {zoom: 235%;vertical-align: sub;}
.join_btn {width: 100%;margin-top: 80px;}
.join_btn a {display: block;line-height: 98px;margin: 0 39px;background: #06c1ae;text-align: center;
font-size: 3.6rem;color: #FFFFFF;border-radius: 5px;}

/* 基本信息 */
.information{position: fixed;top: 0;width: 100%;z-index: 2;font-size: 3.2rem;line-height: 80px;height: 80px;background: #06c1ae;color: #FFFFFF;text-align: center;}
.information>p {padding: 0 38px;}
.information a i.iconfont {font-size: 3.2rem;}
.mation{margin: 80px 0 0 0;}
.mation ul li{font-size: 3rem;color: #333333;line-height: 84px;border-bottom: 1px solid #e6e6e6;background: #FFFFFF;padding: 0 40px;}
.mation ul li:first-child{padding: 20px 40px 20px;}
.mation ul li span{display: inline-block;width: 120px;text-align: justify;text-align-last: justify;}
.mation ul li.ma_line{margin-top:15px;}
.mation ul li i.ph_num{float: right;font-style: normal;}
.mation ul li a{display:block;}
.mation ul li a img{float:right}
.mation ul li a input{font-size: 3rem;color: #333333;line-height: 82px;border: none;float: right;text-align: right;}
.mation ul li a i.iconfont{font-size: 3rem;color: #333333;float: right;}

.genlist li{font-size: 3rem;color: #333333;line-height: 80px;border-bottom: 1px solid #e6e6e6;}
.genlist li:last-child{border:none;}
.genlist li a{display:block;}


.genderbox{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.5);z-index: 4;}
.genderbox .box_list{position: absolute;bottom: 0px;width: 100%;}
.genderbox .box_list ul li:first-child{border-radius: 20px 20px 0 0;}
.genderbox .box_list ul li:last-child{border-radius:0 0 20px 20px;}

.genderbox .box_list ul li{font-size: 3rem;line-height: 83px;background:#FFFFFF;margin:0 20px;text-align:center;color:#3434fa;}
.genderbox .box_list>a{display: block;
    background: #FFFFFF;margin: 20px 20px 30px;text-align: center;line-height: 85px;border-radius: 20px;font-size: 3rem;color:#3434fa;}

.add{margin:95px 0 100px 0;}
.add .add_txt{background:#FFFFFF;font-size: 3rem;line-height: 36px;color: #1a1a1a;border: 1px solid #CCCCCC;margin: 0 20px 15px;}
.add .add_txt ul{padding: 30px 40px;}
.add .add_txt ul li span{display:inline-block;color:#333333;}
.add .add_txt ul li p{text-align: justify;color:#666666;}
.add .add_txt .edit{margin:0 30px;line-height:80px;border-top: 1px solid #e6e6e6;}
.add .add_txt .edit p input{width: 35px;height: 35px;float: left;
margin: 22px 0 0 0;}
.add .add_txt .edit p a.delete{margin-left:45px;color:#666666;}
.add .add_txt .edit p a.editbtn{color:#666666;}
.add .add_txt .edit p a i{color:#999999;font-size: 3rem;vertical-align: middle;}

.new_add{position: fixed;width: 100%;bottom: 0px;}
.new_add a.new_add_btn{font-size: 3.6rem;color: #FFFFFF;background: #06c1ae;display: block;text-align: center;line-height: 100px;}

.newadd_list{margin:80px 0 0 0;background:#FFFFFF;border-bottom: 1px solid #e6e6e6;border-top: 1px solid #e6e6e6;padding: 0 33px;}
.newadd_list ul li {list-style: none;font-size: 2.4rem;line-height: 80px;color: #333333;border-bottom: 1px solid #e6e6e6;}
.newadd_list ul li:last-child {border:none;}
.newadd_list ul li input {width: 70%;border: none;float: right;line-height: 80px;padding: 0;margin: 0;font-size: 2.4rem;}
.newadd_list ul li textarea{width: 100%;height: 135px;border: none;line-height: 50px;overflow:auto;}

/*密码安全*/
.secur{margin: 118px 0 0 0;}
.secur ul li a{font-size: 1.5rem;color: #F5F5F5;text-align:center;color:#FFF;background:#06C1AE;display:block;width:200px;height:200px;margin:38px auto;border-radius:50%;}
.secur ul li a i.iconfont{font-size:7.4rem;padding: 40px 0 20px;display: block;}

/*借*/
.in_head_box{margin: 229px 0 0 0;padding:10px 0;background:#30CBBB;font-size:1.6rem;color:#F3F3F3;}
.in_head_box a{display:inline-block;width:49%;height:100%;}
.in_head_box a span.num_txt{font-size:3rem;color:#FBB66B;display:block;text-indent: 105px;margin: 8px 0 0 0;}
.in_head_box a p{text-indent: 105px;line-height:30px;font-size:2.4rem;}

.in_stocks{padding:0 15px;background:#FFF;margin: 10px 0 0 0;}
.in_stocks p:first-child{font-size:2.4rem;color:#333333;padding: 20px 0;border-bottom:1px solid #E6E6E6;line-height: 35px;}
.in_stocks p:first-child input{line-height: 35px;border:none;line-height:30px;font-size:2.4rem;}
.in_stocks p i.iconfont{font-size: 3.5rem;color: #FE7970;margin-right: 10px;}

.in_stocks p:last-child{font-size:1.8rem;color:#666666;padding: 15px 0;}
.in_stocks p:last-child span em{color:#FF6633;}

.in_choose{font-size: 1.8rem;color: #666666;margin: 15px 15px;}
.in_choose input{vertical-align: middle;width: 22px;height: 22px;}
.in_choose a{color:#06756A;}

.in_btnbox{text-align:center;margin: 200px 0 0 0;}
.in_btnbox .audit{display: inline-block;background: #06C1AE;color: #FFF;padding:25px 220px;font-size: 3rem;}


.in_also{padding:0 15px;background:#FFF;margin:79px 0 0 0;}
.in_also p:first-child{font-size:2.4rem;color:#333333;padding: 20px 0;border-bottom:1px solid #E6E6E6;line-height: 35px;}
.in_also p:first-child input{line-height: 35px;border:none;line-height:30px;font-size:2.4rem;text-align:right;}
.in_also p i.iconfont{font-size: 3.5rem;color: #FE7970;margin-right: 10px;vertical-align: middle;}
.in_also p i.also{color:#FE9F21;}

.in_also p:last-child{font-size:1.8rem;color:#666666;padding: 15px 0;text-align:right;}
.in_also p:last-child span{color:#FF6633;}
.also_amount p{font-size: 1.8rem;color: #adadad;margin: 10px 20px;line-height: normal;}
.also_amount p i.iconfont{font-size: 3rem;vertical-align: middle;}


.also_btnbox{text-align:center;margin: 100px 0 0 0;}
.also_btnbox .also_audit{display: inline-block;background: #06C1AE;color: #FFF;padding:25px 220px;font-size: 3rem;}

.list_table{padding: 0 15px;background: #FFFFFF;margin: 30px 0 0 0;}
.list_table table{width:100%;}
.list_table table thead{font-size: 1.8rem;color: #666666;line-height: 80px;}
.list_table table tbody{font-size: 1.4rem;color: #999999;line-height: 60px;}
.list_table table tbody tr td:first-child{text-align:center;}
.list_table table tbody tr td:first-child i{font-size: 3rem;color: #FFCF31;}
.list_table table thead tr th{border-bottom:1px solid #E6E6E6;}
.list_table table tbody tr td{border-bottom:1px solid #E6E6E6;}
.list_table table tbody tr:last-child td{border:none;}
.list_table table tbody tr td:nth-child(3){color:#FF6633;}
.list_table table tbody tr td:nth-child(4){color:#FF6633;}

/* 借贷记录 */
.credit{margin: 79px 0 0 0;}
.credit .crebtn{background: #FFFFFF;text-align: center;}
.credit .crebtn a{font-size: 3.2rem;line-height: 60px;color: #999999;display: inline-block;width: 49%;float: left;}
.credit .crebtn a:first-child{border-right:1px solid #CCCCCC;}
.credit .crebtn a.selected{color: #06C1AE;border-bottom: 5px solid #06C1AE;}
.credit .crelist{margin:10px 0 0 0;}
.credit .crelist ul li{background:#FFFFFF;padding: 0 20px;}
.credit .crelist ul li div.tltbox{line-height: 35px;padding: 10px 0;}
.credit .crelist ul li div.tltbox span{display:inline-block;float:left;}
.credit .crelist ul li div.tltbox span.num{width:34%;color: #FF6633;font-size: 3rem;}
.credit .crelist ul li div.tltbox span.num i{font-size:4rem;}
.credit .crelist ul li div.tltbox span.tlt{width:33%;font-size: 1.8rem;color: #666666;}
.credit .crelist ul li div.tltbox span.tlt em{color: #FF6633;font-size: 2.4rem;vertical-align: bottom;}
.credit .crelist ul li div.tltbox span.time{text-align: right;width:33%;font-size: 1.8rem;color: #999999;}

.credit .crelist ul li{border-bottom: 1px solid #CCCCCC;}
.credit .crelist ul li:last-child{border:none;}
.credit .crelist ul li div.txtbox{padding: 0 0 10px 0;}
.credit .crelist ul li div.txtbox span{display:inline-block;float:left;}
.credit .crelist ul li div.txtbox span.ice_state{width: 34%;}
.credit .crelist ul li div.txtbox span.ice_state em{color: #FFFFFF;background: #FE7079;padding: 5px 20px;text-align: center;display: inline-block;margin: 0 0 0 44px;}
.credit .crelist ul li div.txtbox span.has_ice{width:34%;text-indent: 44px;font-size: 1.8rem;color: #666666;}
.credit .crelist ul li div.txtbox span.has_ice em{color: #FF6633;font-size: 2.4rem;vertical-align: middle;}
.credit .crelist ul li div.txtbox span.has_ice i{color: #FF6633;font-size: 2.4rem;vertical-align: middle;}
.credit .crelist ul li div.txtbox span.tlt{width:33%;font-size: 1.8rem;color: #666666;}
.credit .crelist ul li div.txtbox span.tlt em{color: #FF6633;font-size: 2.4rem;vertical-align: middle;}
.credit .crelist ul li div.txtbox span.lastdate{text-align: right;width:33%;font-size: 1.8rem;color: #666666;}
.credit .crelist ul li div.txtbox span.lastdate em{color:#999999;}

/*期权股明细*/
.money_stock{top: 0;position: fixed;width: 100%;font-size: 3.2rem;padding:25px 30px;background: #06c1ae;color: #FFFFFF;text-align: center;}
.money_stock a i.iconfont{font-size: 3.2rem;float: left;}
.stock_detail{background:#FFFFFF;margin:100px 0 0 0;}
.stock_detail ul li{margin: 0 20px;padding: 15px 0;border-bottom:1px solid #CACACA;}
.stock_detail ul li:last-child{border:none;}
.stock_detail ul li div.sto_txt{width:90%;display:inline-block;float:left;}
.stock_detail ul li div.sto_btn{width:10%;display:inline-block;float:left;text-align:right;}
.stock_detail ul li div.sto_txt p{padding: 6px 0;}
.stock_detail ul li div.sto_txt p:first-child{font-size:2.8rem;color: #333333;}
.stock_detail ul li div.sto_txt p:first-child span.sto_time{color: #999999;font-size: 2rem;}
.stock_detail ul li div.sto_txt p:last-child{color:#666666;font-size:2.6rem;}
.stock_detail ul li div.sto_txt p:last-child span.mon{color:#FF6633;}
.stock_detail ul li div.sto_btn a{color: #999999;}
.stock_detail ul li div.sto_btn a i{margin: 25px 0 0 0;display: inline-block;font-size: 2.6rem;}

/*收支详情*/
.detail_one {background: #FFFFFF;margin: 82px 0 0 0;}
.detail_one ul li{padding: 15px 0;margin: 0 20px;border-bottom:1px solid #E0E0E0;}
.detail_one ul li:last-child{border:none;}
.detail_one ul li p span:first-child{color:#666666;font-size:2.8rem;}
.detail_one ul li p span:last-child{color:#333333;font-size:2.4rem;}
.detail_one ul li p span:last-child em{color:#FF6633;}

