.relief{font-size: 3.2rem;padding:25px 30px;background: #FE7079;color: #FFFFFF;text-align: center;}
.relief a i.iconfont{font-size: 3.2rem;float: left;}

.reliefcontent .reli_headtxt{background: #FE7079;color: #FFFFFF;}
