.shop{position:fixed;top:0;width:100%;z-index: 2;font-size: 3.2rem;line-height: 80px;height: 80px;background: #06c1ae;color: #FFFFFF;text-align: center;}
.shop>p{padding: 0 38px;}
.shop p a.forward{margin-left: 36px;}
.shop a i.iconfont{font-size: 3.2rem;}
.shop a i.forward{margin: 0 0 0 20px;}







